

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
button {
  background-color: #007bff;
  border: none;
  color: rgb(15, 5, 5);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
button:hover {
  background-color: #f5740b;
}
h2{
  color: #f5740b;
}
.news-table {
  width: 100%;
  border-collapse: collapse; /* Removes gaps between borders */
  margin: 20px 0; /* Adds spacing above and below the table */
  font-size: 16px;
  text-align: left;
}s

.news-table th, .news-table td {
  border: 1px solid #070000; /* Adds a border to cells */
  padding: 12px; /* Adds padding inside the cells */
}

.news-table th {
  background-color: #8489ad; /* Makes the header bluish grey */
  color: rgb(22, 3, 3); /* Changes the text color to black */
  text-align: center; /* Centers the header text */
  font-weight: bold; /* Makes the header text bold */
}

.news-table tr:nth-child(even) {
  background-color: #854585; /* Adds a light-gray background for even rows */
}

.news-table tr:hover {
  background-color: #2e31e2; /* Highlights row when hovered */
}

